fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
alembic
redis
aiohttp
feedparser
beautifulsoup4
lxml
pyyaml
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic-settings
httpx
pytest
pytest-asyncio
hazm
# Signal Aggregator
telethon
cryptg
# Fundamental Analysis
yfinance
pandas
